<div id ="article-details">
  <ul>
    <li><%= pluralize(article.total_credits, "credit") %></li>  </ul>
</div>
<button class="js-read-more" data-id = "<%= article.id %>">Read More</button>
<div id="body-<%= article.id %>"></div>
