<b> If you signed in with Facebook your current role defaults to "reader" but you can change that here</b>
<br>
<br>
<form action="/articles" method="post">
  <input name="authenticity_token" type="hidden"
    value="x37DrAAwyIIb7s+wssss2+AdoCR8cAJIpQhIetKRrPgG5VA=">
  <input id="hidden" type="hidden" name="_method" value="patch">
<div id = "roles">
  <input type="radio" name="user[role]" value="reader"> Reader<br>
  <input type="radio" name="user[role]" value="author"> Author<br>
</div>
  <input type="submit">
</form>
