<h1>Welcome To NewsMap</h1>
<h3> All Articles </h3>

<!-- choose by category  -->
<!-- form_for
  f.label
  f.collection_select
end -->

<% if current_user.author? %>
Author
  <p> <%= link_to "Start writting your first article", new_article_path %> </p>
<% else %>
Reader
  <p> Choose from any category to read <p>
<% end %>

<ul>
<% @articles.each do |article| %>
  <li><%= article.user.name %>
  <li><%=  link_to article.title, user_single_article_path(article.id)%></li>
<% end %>
</ul>
