<h3> All Articles </h3>
<p><%= link_to "Create new article", new_article_path %></p>
<ul>
<% @articles.each do |article| %>
  <li><%= article.user.name %>
  <li><%= link_to article.title, user_article_path(article.user_id, article)%></li>
<% end %>
</ul>
