<!-- <h3> All Articles </h3>
<ul>
  <li><%= link_to "Create new article", new_article_path %></li>
</ul> -->
<!-- <% @articles.each do |article| %>
  <%= link_to article.title, article_path(article) %>
<% end %> -->
