<div class = "index-container" data-id="<%=current_user.id%>"></div>

<div class="welcome-intro">
  <!-- Greeting  -->
  <% if !current_user.nil? %>
    <i><p>Welcome <%= current_user.name %></p></i>
  <% end %>

    <h3> All Articles </h3>
  <!-- Class method helper method -->
    <i> Most Credited Article: <b><%= most_popular_article %></i> </b>
</div>

<div id="user_id" data-id= '<%= "#{current_user.id}" %>'></div>

<% if current_user && current_user.author? %>
  <li>Author</li>
<% else %>
  <li>Reader </li>
  <li> Choose from any category to read </li>
<% end %>

<div id="map"></div>
