<ul>
  <h3><%= @article.title%></h3>
  <li><p><%= @article.content%></p></li>
  <p><%=@article.total_validations %> votes
</ul>


  <% if !current_user.author? %>
     <li><p><%= button_to "Validate", :method =>"create"%></li>
  <% end %>
