<p> Choose a role here if Signing in with facebook </p>
<!-- form_for() -->
<!-- <div class="field"> -->
  <!-- if clicked user changes to reader -->
  <!-- <%= f.radio_button :role, 'reader', :checked => false %> -->
  <!-- <%= f.label :role, 'Reader', :checked => false %><br /> -->

  <!-- if clicked user changes to author -->
  <!-- <%= f.radio_button :role, 'author' %> -->
  <!-- <%= f.label :role, 'Author'%><br /> -->
<!-- </div> -->
