

<div class="jumbotron"><h3 class="header">
  <% if !current_user.persisted? %>

    <%= current_user.name%>'s Profile

  <% elsif user_signed_in? %>

    My Profile

  <% end %>

</div>


<%if current_user.reader?%>

    <ul class="list-group">
      <li class="list-group-item active">Articles credited <%= pluralize(current_user.total_reader_credits,"credit made")%></li>
      <li class="list-group-item" >Articles Credited:</li>

      <% current_user.credits.each do |credit| %>

        <li><%= link_to credit.article.title, user_article_path(current_user.id, credit.article.id) %></li>

      <% end %>

    </ul>


<% elsif current_user.author? %>

    <ul class="list-group">
      <li class="list-group-item active">Articles published</li>
    </ul>

    <% current_user.articles.each do |article| %>

      <ul class="list-group">
          <%= render partial: "articles/articles", locals: {article: article} %>
      </ul>

  <% end %>

<% end %>
