<h3>My Articles</h3>

  <% if current_user.reader? %>

      <%= current_user.name %>


      <h3>Articles Validated:</h3>
    <ol>
  
    </ol>

    <% else %>

    <%= current_user.name %>
    <ul>

  <% end %>
</ul>
