/*>>>>>>>>>>>>>>>>>>>>>>>>>>>> CONTAINERS  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

body{
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
  overflow-x: hidden;
  background: #f7faff;
}

h1, h2 ,h3{
  padding: 0;
}

div.article-container{
  display: block;
}

div.container-fluid{
  margin: 0px;
  padding: 0px;
}

div.jumbotron{
  padding:20px;
  z-index:0;
  position: relative;
  background: #24a379;
  border-radius: 0px;
}
.container-fluid > div.jumbotron{
  border-radius: 0;
}
/* <<<<<<<<<<<<<<<<<<<<<<  HEADER AND NAVIGATION*/

nav.navbar-inverse{
  margin: 0;
  background: #012e28  ;
  border-radius: 0;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-header .navbar-brand{
  color: #fff;
}

.navbar-right{
  padding-right: 15px;
}

.navbar-inverse .navbar-nav > li > a{
  color: #94a8cc;
}
h3.header{
  margin: 0 auto;
  color: #fff;
}

/*<<<<<<<<<<<<<<<<<<<<<<< LISTS */

ul.list-inline{
  padding: 10px;
  margin-top:10px;
  color: #426ca9;
  margin-left: 0;
  margin-right: 0;
}

li.notfication{
  display: none;
}

a, #articlesLink {
  text-decoration: none ;
  color: #94a8cc;
}

ul li.list-group-item {
    width: 50%;
    margin: 0 auto;
    border-radius: 0;
    border: none;
}

 li.list-group-item.active{
  background: #8adeca;
  margin: top: 20px;
}

li.list-group-item.dark-green{
 background: #012e28;
 color: #fff;
}

ul li.list-group-item:first-child{
  border-bottom: 1px solid #eaf1fd;
}


/* <<<<<<<<<<<<<<<<<<<<<<<<   GOOGLE MAPS CANVAS*/

#map {
 display: -webkit-flex;
 display: flex;
 width: 100%;
 height: 60%;
 min-width: 50%;
 background-color: grey;
 position: absolute;
 z-index: 1;
}


/* <<<<<<<<<<<<<<<<<<<<<<<<  FORMS */

form.new_article{
  margin-top: 50px;
}

.form-control{
  border: none;
  /*# #42587  #4f6384*/
  background-color:  #8adeca;
  color: #fff;
}

.credit{
  width: 50%;
  height: auto;
  position: absolute;
  z-index: 9999;
  background: #333;
}
.new_article{
  width: 50%;
  margin: 0 auto;
}
.gm-style-iw{
  color: #215E21;
  box-shadow: none;
  box-decoration-break: none;
}

/* <<<<<<<<<<<<<<<<<<<<<<<< BUTTONS */

.transparent .btn.btn-outline-info{
  border: none;
  background: transparent;
  margin-top: 7px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<   CSS STYLES*/

nav.white-background{
 background: #fff
}

span.bold{
  font-weight: bold;
}

.transparent{
  background-color: transparent;
}

.no-border{
  border: none ;
}

.has-bottom-border{
  border-right: none  ;
  border-left: none ;
  border-top: none ;
  border-bottom:1px solid #94a8cc;
  border-radius: 0 ;
}
