/*>>>>>>>>>>>>>>>>>>>>>>>>>>>> CONTAINERS  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

body{
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
  overflow-x: hidden;
  background: #f7faff;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .02em;
}

h1, h2 ,h3{
  padding: 0;
}

div.article-container{
  display: block;
}

index-container{
  display: none;
}

div.container-fluid{
  margin: 0px;
  padding: 0px;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
}

div.jumbotron{
  padding:20px;
  border-radius: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-fluid > div.jumbotron{
  border-radius: 0;
}

div.container-fluid .background-image{
  /*background-image:  url("news-map-medium.jpg");*/
  position: absolute;
  z-index: 9888;
}



/* <<<<<<<<<<<<<<<<<<<<<<  HEADER AND NAVIGATION*/

nav.navbar-inverse{
  margin: 0;
  background: #455A64  ;
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-transition: border 2s, background-color 2s, box-shadow 1s; /* For Safari 3.1 to 6.0 */
  transition: border 2s, background-color  2s, box-shadow  1s;
}

nav.navbar-inverse  .first{
  background: #fff;
}

.navbar-header .navbar-brand:hover{
  color: #ECEFF1;
}

nav.navbar-inverse:hover{
  text-decoration: none;
}

.navbar-header .navbar-brand{
  color: #8adeca;
}

.navbar-right{
  padding-right: 15px;
}

.navbar-inverse .navbar-nav > li > a{
  color: #fff;
}

h3.header{
  margin: 0 auto;
  color: #52c4a9;
}



/* <<<<<<<<<<<<<<<<<<<<<<<  MESSAGES*/

 #flash_alert, #flash_notice, #flash_error, #error_explanation{
  margin: 20px auto;
  left: 25%;
  width: 50%;
  right: 25%;
  padding: 20px;
  text-align: center;
  font-weight: 700;
  letter-spacing: .045em;
  background: #90A4AE;
  color:  #fff;
  z-index: 9999;
  top:10px;
  box-shadow: 2px 2px 2px #636363;
}



/*<<<<<<<<<<<<<<<<<<<<<<< LISTS */

li{
  list-style: none;
}

ul.list-inline{
  padding: 10px;
  margin-top:10px;
  color: #333;
  margin-left: 0;
  margin-right: 0;
}

.container-fluid ul.list-group:first-of-type{
  margin-top: 50px;
}

li.notfication{
  display: none;
}

a, #articlesLink {
  text-decoration: none ;
  color: #94a8cc;
  padding-top: 14px;
}

ul li.list-group-item {
    width: 50%;
    margin: 0 auto;
    border-radius: 0;
    border: none;
}

 li.list-group-item.active{
  background: #8adeca;
  margin: top: 20px;
}

li.list-group-item.dark-green{
 background: #012e28;
 color: #fff;
}

ul li.list-group-item:first-child{
  border-bottom: 1px solid #eaf1fd;
}

li .btn{
  margin-top:8px;
}

.navbar-inverse .navbar-nav > li > a:hover , a:hover{
  color: #8adeca;
  text-decoration: none;
}



/**<<<<<<<<<<<<< ANIMATIONS /

/* The animation code */
@keyframes backcolor {
    0%   {box-shadow: 1px 1px 2px #333};
    25%  {box-shadow: 2px 2px 4px #333};
    50%  {box-shadow: 3px 3px 5px #333};
    100% {background-color: #004D40;}
}



/* <<<<<<<<<<<<<<<<<<<<<<<<   GOOGLE MAPS CANVAS*/

#map {
 display: -webkit-flex;
 display: flex;
 width: 100%;
 height: 60%;
 min-width: 50%;
 margin-top: 10px;
 background-color: grey;
 z-index: 1;
}



/* <<<<<<<<<<<<<<<<<<<<<<<<  FORMS */

.devise-form{
  width: 35%;
  margin: 50px auto;

}

form.new_article{
  margin-top: 50px;

}

.form-control{
  border: none;
  /*# #42587  #4f6384*/
  background-color:  #8adeca;
  color: #fff;
}

.credit{
  width: 50%;
  height: auto;
  position: absolute;
  z-index: 9999;
  background: #333;
}

.new_article, .edit_article{
  width: 50%;
  margin: 0 auto;
}

.gm-style-iw{
  width: 100%;
  height: auto;
  color: #333;
  box-shadow: none;
  box-decoration-break: none;
}



/* <<<<<<<<<<<<<<<<<<<<<<<< BUTTONS */

.transparent .btn.btn-outline-info{
  border: none;
  background: transparent;
}



/* <<<<<<<<<<<<<<<<<<<<<<<< INPUTS */



/* <<<<<<<<<<<<<<<<<<<<<<< FOOTER */

footer.footer{
  width:100%;
  text-align: center;
  font-size: .95em;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  background: #000;
  opacity: .8;
}



/* <<<<<<<<<<<<<<<<<<<<<<<<   CSS STYLES*/

nav.white-background{
 background: #fff
}

span.bold{
  color: #4CAF50;
  font-weight: 700;
  overflow-y: auto;
}

.transparent{
  background-color: transparent;
}

.no-border{
  border: none ;
}

.has-bottom-border{
  border-right: none  ;
  border-left: none ;
  border-top: none ;
  border-bottom:1px solid #94a8cc;
  border-radius: 0 ;
}

.has-no-bottom-border{
  border-bottom: none;
  padding-left: 50px;
  padding-right: 50px;
}



/* <<<<<<<<<<<<<<<<<<<<<<<<<< MEDIA QUERRIES */

@media only screen and (max-width: 640px) {

  .devise-form {
      width: 90%;
      margin: 50px auto;
  }

  input.btn.btn-default {
      width: 100%;
  }

  .navbar-header .navbar-brand{
    padding-left: 0;
  }

  ul.list-inline li, ul.list-group  > li.list-group-item{
    width: 90%;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
  }

  div.jumbotron{
    margin-top: 100px;
  }
}
