<div id = "navigator">
  <ul>
    <li><h2>NewsMap</h2></li>
    <% if current_user %>
      <li><button id="articlesLink" data-id="<%= current_user.id %>">See Your Articles</button></li>
      <td> <%= link_to "Articles", articles_path if signed_in?%></td>
    <% end %>
  </ul>
</div>
